.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

/*
 * Extra utilities
 */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.bg-header {
    background-image: url('images/bg-banner-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-yellow {
    background-color: #f1e253;
}

.imgs-apresentacao img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1em;
}

.logo-apresentacao {
    height: 150px;
}

.btn-red {
    color: white;
    background-color: #5e1b07;
    border: 2px solid white;
    width: 260px;
}

.btn-red-dark {
    color: white;
    background-color: #5e1b07;
    border: 2px solid white;
    width: auto;
}

.bg-blue-dark {
    background-color: #191d25;
    color: white;
}

.bg-red-dark {
    background-color: #970c0c;
    color: white;
}

.title-color {
    background: -webkit-linear-gradient(left,#f19f00, #d50000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-color-2 {
    background: -webkit-linear-gradient(left,#f8c004, #f5ad03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-color-3 {
    color: #c61a04;
}

.top-text {
    position: relative;
    top: -10px;
}